release
target
build
//libs
.settings
.project
.classpath
.idea
.DS_Store
bin
gen
proguard
.pmd
*~
*.iml
tmp
gen-external-apklibs
out
app.iml
coverage
build/
.gradle/
local.properties
sonar-project.propertie
gradle.propertiess
node_modules/
.log
